body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: white;
    padding: 20px;
}

#presentation img {
    width: 150px;
    border-radius: 50%;
    margin-top: 10px;
}

.carousel {
    display: flex;
    justify-content: center;
    gap: 20px;
    overflow-x: auto;
    padding: 20px;
}

.carousel-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}



/* Style pour les projets*/

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.title-box {
    width: 70%;
}
.tech-stack {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    border-left: 2px solid gray;
}
.tech-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 60px;
}
.tech-item img {
    width: 100px;
    height: 50px;
    object-fit: contain;
}
.tech-item p {
    margin-top: auto;
}
.project-images {
    display: grid;
    gap: 10px;
    justify-content: center;
}
.project-images img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}



/* organisation title box */

/** {
    border: 1px solid red;
}*/

.title-box {
    display: flex;
    flex-direction: column;
    gap: 1px;
    /*border: 1px solid red;*/
    text-align: left;
    margin: 0;
}

.logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self:stretch;
    gap: 0;
    width: 100%; 
    /*border: 1px solid blue;*/
    flex-grow: 0;
}

.logos img {
    height: 100px;
}

.title-nameAndDate {
    text-align: center;
    /*border: 1px solid red;*/
    flex-grow: 1;
    margin: 0;
    
}

.date {
    font-style: italic;
    color: lightgrey;
    margin: 0;
}

.description {
    color: lightgrey;
}



/* Responsive */
@media (max-width: 600px) {
    .header-container {
        flex-direction: column;
        text-align: center;
    }
    .title-box, .tech-stack {
        width: 100%;
    }
    .tech-stack {
        justify-content: center;
    }
}
@media (min-width: 601px) {
    .project-images {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
    h1 {
        font-size: 28px;
    }
}
@media (min-width: 800px) {
    .project-images {
        grid-template-columns: repeat(4, 1fr);
    }
    h1 {
        font-size: 36px;
    }
}
@media (min-width: 1000px) {
    .project-images {
        grid-template-columns: repeat(4, 1fr);
    }
    h1 {
        font-size: 48px;
    }
}